services:
  - type: web
    name: smartdeck-backend
    env: node
    branch: main
    plan: free
    buildCommand: "cd backend && npm install"
    startCommand: "cd backend && node index.js"
    healthCheckPath: /health
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        fromDatabase:
          name: smartdeck-db
          property: connectionString
      - key: JWT_SECRET
        generateValue: true
      - key: ALLOW_ORIGINS
        value: https://smartdeck-frontend.onrender.com
      - key: SESSION_SECRET
        generateValue: true

staticSites:
  - name: smartdeck-frontend
    branch: main
    plan: free
    buildCommand: "cd frontend && npm install --legacy-peer-deps && npm run build"
    publishPath: "frontend/build"
    autoDeploy: true
    rewrites:
      - source: "/*"
        destination: "/index.html"
    envVars:
      - key: REACT_APP_API_HOST
        value: https://smartdeck.onrender.com
      - key: CI
        value: false